hr {
  width: 300px;	
  margin: 10px;
}



#but4 {
  height: 300px;
  width: 300px;
  border: 1px solid red;
}

.pic{
  display:block;
  margin-bottom: 5px;
}


#but7 {
  display:block;
}

.inp11{
  width: 300px;
}

#but18 {
  width: 300px;
}

#input20{
  width: 200px;
}

#inp23{
  display: block;
  width: 200px;
  margin-bottom:10px;
}

#input23{
  display: block;
  width: 200px;
  margin-bottom:10px;
}

